body{
	background-image: url(images/bricks.jpg);
}
div#whole
{
	margin-right: 10%;
	margin-left: 10%;
	border:5px solid green;
	background-color: #FFFFFF;
}
div#spatula
{
	border: 5px solid blue;
	background-color: #E8FBFB;
	padding: 5px;
	margin-top: 10px;
	overflow: auto;
}
div#cupcakes
{
	border: 5px solid blue;
	background-color: #E8FBFB;
	padding: 5px;
	margin-top: 10px;
	overflow: auto;
}
span.date
{
	border:5px solid #7D0C9D;
}
div#header
{
	border:5px solid red;
	text-align: right;

}
div#header h2
{
	border: 5px solid orange;
}
.images
{
	float: right;
}