body{
	border:5px solid green;
}
div#spatula
{
	border: 5px solid blue;
}
div#cupcakes
{
	border: 5px solid blue;
}
span.date
{
	border:5px solid #7D0C9D;
}
div#header
{
	border:5px solid red;
}
div#header h2
{
	border: 5px solid orange;
}